    <header>
      <a class="home" href="{{ siteUrl }}">{{ siteName }}</a>
      <nav>
      <ul>
        <li>
          <a href="{{ url('blog') }}">Blog</a>
        </li>
        <li>
          <a href="{{ url('about') }}">About</a>
        </li>
      </ul>
    </nav>
    </header>
